[Unit]
Description=cg5317 Host Loading Service
After=cg5317-bringup.service

[Service]
User=root
Group=root
Type=forking
ExecStart=/root/examples/host_loading_service/host_loading_service -g gpiochip1 -o 36

[Install]
WantedBy=multi-user.target
