[Unit]
Description=cg5317 Interface Bringup Service
After=network.target

[Service]
ExecStart=/sbin/ip link set seth0 up
User=root
Type=oneshot

[Install]
WantedBy=multi-user.target
